theme "ansi"
ui {
    pane_frames {
        rounded_corners true
    }
}
keybinds {
    shared_except "locked" {
        bind "Alt h" {
            MessagePlugin "vim-zellij-navigator" {
                name "move_focus"
                payload "left"
                move_mod "alt"
            }
        }
        bind "Alt j" {
            MessagePlugin "vim-zellij-navigator" {
                name "move_focus"
                payload "down"
                move_mod "alt"
            }
        }
        bind "Alt k" {
            MessagePlugin "vim-zellij-navigator" {
                name "move_focus"
                payload "up"
                move_mod "alt"
            }
        }
        bind "Alt l" {
            MessagePlugin "vim-zellij-navigator" {
                name "move_focus"
                payload "right"
                move_mod "alt"
            }
        }
        bind "Ctrl Alt h" {
            MessagePlugin "vim-zellij-navigator" {
                name "resize"
                payload "left"
                resize_mod "ctrl+alt"
            }
        }
        bind "Ctrl Alt j" {
            MessagePlugin "vim-zellij-navigator" {
                name "resize"
                payload "down"
                resize_mod "ctrl+alt"
            }
        }
        bind "Ctrl Alt k" {
            MessagePlugin "vim-zellij-navigator" {
                name "resize"
                payload "up"
                resize_mod "ctrl+alt"
            }
        }
        bind "Ctrl Alt l" {
            MessagePlugin "vim-zellij-navigator" {
                name "resize"
                payload "right"
                resize_mod "ctrl+alt"
            }
        }
        bind "Ctrl q" {
            Quit
        }
    }
    tmux {
        bind "Ctrl ;" {
            Write 2
            SwitchToMode "Normal"
        }
        bind "s" {
            NewPane "Down"
            SwitchToMode "Normal"
        }
        bind "v" {
            NewPane "Right"
            SwitchToMode "Normal"
        }
        bind "X" {
            CloseTab
            SwitchToMode "Normal"
        }
        bind "Tab" {
            ToggleTab
            SwitchToMode "Normal"
        }
        bind "1" {
            GoToTab 1
            SwitchToMode "Normal"
        }
        bind "2" {
            GoToTab 2
            SwitchToMode "Normal"
        }
        bind "3" {
            GoToTab 3
            SwitchToMode "Normal"
        }
        bind "4" {
            GoToTab 4
            SwitchToMode "Normal"
        }
        bind "5" {
            GoToTab 5
            SwitchToMode "Normal"
        }
        bind "6" {
            GoToTab 6
            SwitchToMode "Normal"
        }
        bind "7" {
            GoToTab 7
            SwitchToMode "Normal"
        }
        bind "8" {
            GoToTab 8
            SwitchToMode "Normal"
        }
        bind "9" {
            GoToTab 9
            SwitchToMode "Normal"
        }
    }
    session {
        unbind "Ctrl o"
        bind "Ctrl s" {
            Write 2
            SwitchToMode "Normal"
        }
    }
    scroll {
        unbind "Ctrl s"
        bind "Ctrl Enter" {
            Write 2
            SwitchToMode "Normal"
        }
    }
    shared_except "scroll" "locked" {
        unbind "Ctrl s"
        bind "Ctrl Enter" {
            SwitchToMode "Scroll"
        }
    }
    shared_except "session" "locked" {
        unbind "Ctrl o"
        bind "Ctrl s" {
            SwitchToMode "Session"
        }
    }
    shared_except "move" "locked" {
        unbind "Ctrl h"
        bind "Ctrl m" {
            SwitchToMode "Move"
        }
    }
    shared_except "tmux" {
        unbind "Ctrl b"
        bind "Ctrl ;" {
            SwitchToMode "Tmux"
        }
    }
}
plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    about location="zellij:about"
    vim-zellij-navigator location="https://github.com/hiasr/vim-zellij-navigator/releases/latest/download/vim-zellij-navigator.wasm" {

    }
    zjstatus-hints location="https://github.com/b0o/zjstatus-hints/releases/latest/download/zjstatus-hints.wasm" {
        max_length "0"
        overflow_str ""
        pipe_name "zjstatus_hints"
    }
}
load_plugins {
    zjstatus-hints
}

