(request-logging) {
	log {
		output stdout
		format filter {
			request>headers>Cookie delete
			wrap json {
				time_format iso8601
			}
		}
	}
}

wrx.sh {
	import request-logging

	handle_path /api/* {
		reverse_proxy localhost:3000 {
			# Trust all incoming X-Forwarded-For headers since we're behind
			# Cloudflare
			trusted_proxies 0.0.0.0/0
		}
	}

	handle {
		root * /etc/wrx-sh/www/wrx.sh
		try_files {path}.html

		file_server {
			disable_canonical_uris
			precompressed zstd gzip
		}

		route {
			header /_astro/* Cache-Control "max-age=31536000, immutable"
		}
	}

	encode zstd gzip
}

c.wrx.sh {
	reverse_proxy localhost:8080
	route {
		header /_app/immutable/* Cache-Control "max-age=31536000, immutable"
	}
}

files.wrx.sh {
	root * /etc/wrx-sh/www/files.wrx.sh
	file_server {
		browse
	}
	header Access-Control-Allow-Origin "*"

	encode zstd gzip
}

plex.wrx.sh {
	reverse_proxy 100.92.183.69:9000
}

a.wrx.sh {
	reverse_proxy localhost:3010
}

i.wrx.sh {
	handle /static {
		reverse_proxy https://us-assets.i.posthog.com:443 {
			header_up Host us-assets.i.posthog.com
			header_down Access-Control-Allow-Origin https://wrx.sh
		}
	}
	handle {
		reverse_proxy https://us.i.posthog.com:443 {
			header_up Host us.i.posthog.com
			header_down Access-Control-Allow-Origin https://wrx.sh
		}
	}
}

mail.wrx.sh {
	handle /.well-known/acme-challenge/* {
		root * /var/lib/acme/acme-challenge
		file_server
	}

	# turn off automatic HTTPS by caddy
	# tls /var/lib/acme/mail.wrx.sh/fullchain.pem /var/lib/acme/mail.wrx.sh/key.pem

	reverse_proxy https://127.0.0.1:8081 {
		transport http {
			proxy_protocol v2
			tls_insecure_skip_verify
		}
	}
}

